<div>
    <button>Click here</button><br>
    <button mat-button>Mat basic button</button> <br>
    <button mat-button color="primary">Mat with primary button</button>
    <button mat-button color="warn">Mat with primary button</button>
    <button mat-button style="color:aqua;">Mat with primary button</button>
    <hr>
    <button mat-raised-button>Mat basic button</button> <br>
    <button mat-raised-button color="primary">Mat basic button</button> <br>
    <button mat-raised-button color="warn">Mat basic button</button> <br>
    <button mat-raised-button style="color:aquamarine;">Mat basic button</button> <br>
    <hr>
    <button mat-fab>Mat basic fab button</button><br>
    <button mat-fab color="primary">Mat fab button primary</button><br>
    <button mat-fab color="warn">Mat  fab button warn</button><br>
    <button mat-fab style="background-color: blueviolet;color:white;">Mat basic fab button</button>
 
</div>
