*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1,h3,span{
    color:#c731c7;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;

}
h4, h4 a,p{
    color:#c731c7;
    font-weight: 600;
    opacity: 0.8;
    font-size:1rem;
}
span:before{
    content:'';
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: "Programmer!"
    }
    25%{
        content: 'Music Lover!';
    }
    50%{
        content: "ML Enthusiast!";
    }
    75%{
        content: "Android Developer!";
    }
    100%{
        content:"Front-end Developer!";
    }
   


}
main{
    min-height: 100vh;
    /* background: linear-gradient(to right top, #65dfc9,#6cdbeb ); */
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.glass{
    background: white;
    min-height: 90vh;
    width:80%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter:blur(2rem);
    display: flex;
    margin:15px;

}
.dashboard{
 flex:1;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
 border-radius: 2rem;

}
.detail{
    display: flex;
    justify-content: space-between;
}
.user{
    margin-top: -15%;
}
.adjust {
    position: relative;
    top:-13%;
}
.adjustlink{
    position:relative;
    top:-30%;
}
.frontpage{
 flex: 2;
}
/* .nav{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 2rem;
    align-items: center;
}
.nav h4{
    padding: 0rem 1rem;
} */
.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.9),rgba(255,255,255,0.5));
    height:12.5rem;
    width: 12.5rem;
    position: absolute;
    border-radius: 50%;
    
}
.circle1{
    top: 2%;
    right:5%;
   
}
.circle2{
    bottom:2%;
    left:5%;
}
.status{
    margin-bottom:3rem;
}
.status input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border:none;
    padding:0.5rem;
    border-radius: 2rem;

}

.frontpage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem;
}

.card{
    display: flex;
    background:linear-gradient( to left top,
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.5));
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding:1rem;
    box-shadow: 6px 6px 20px rgba(122,122,122,0.212);
     justify-content: space-between;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.3s ease;
    
}

.card:hover{
    transform: translateX(80px);
}
.link{
  
  transition: all .2s ease;
}
img{
    position: relative;
}
.user img{
    border-radius: 50%;
}
 img:hover{
     
    transform: scale(2rem);
}
.progresss{
    
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    
    height: 25%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;    
}
 #pro1{
    animation:progress1 infinite 10s 1s;
}
@keyframes progress1{
    0%{
       width:30%;
    }
    50%{
        width:60%;
    }
    100%{
        width:80%;
    }
    
}

#pro2{
    animation:progress2 infinite 10s 1s;
}
@keyframes progress2{
    0%{
       width:15%;
    }
    50%{
        width:30%;
    }
    100%{
        width:60%;
    }
    
}
#pro3{
    animation:progress3 infinite 10s 1s;
}
@keyframes progress3{
    0%{
       width:25%;
    }
    50%{
        width:50%;
    }
    100%{
        width:70%;
    }
    
}
#pro4{
    animation:progress4 infinite 10s 1s;
}
@keyframes progress4{
    0%{
       width:15%;
    }
    50%{
        width:30%;
    }
    100%{
        width:50%;
    }
    
}

/*
.prog2{
    width:300px;
}
.prog1::after{
    content: "";
    width:100%;
    height:100%;
    background: rgb(236,236,236);
    position: absolute;
    left:30%;
}
.prog2::after{
    content: "";
    width:100%;
    height:100%;
    background: rgb(236,236,236);
    position: absolute;
    left:50%;
}
.prog3::after{
    content: "";
    width:100%;
    height:100%;
    background: rgb(236,236,236);
    position: absolute;
    left:80%;
}
.prog4::after{
    content: "";
    width:100%;
    height:100%;
    background: rgb(236,236,236);
    position: absolute;
    left:50%;
}
.prog5::after{
    content: "";
    width:100%;
    height:100%;
    background: rgb(236,236,236);
    position: absolute;
    left:60%;
}

/* .cardinfo{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
} */
/*.per{
    font-weight:bold;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
} */
h3:hover {
    color:white;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);

}
h4 a:hover{
    color:white;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}
h3 a input{
    width:4rem;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    border:none;
    color:white;
    text-align: center;
    height:2rem;

    
}
#first{
    
    width:40%;
    margin-left:60%;
    margin-bottom:0.5rem;
}
.edc-heading{
    text-align: center;
    margin-bottom:1rem;
}
.edc{
    top-margin:-20%;
}
.proj-heading{
    text-align: center;
}
.cardinfo p{
    color:purple;
}
.arrow{
    position:absolute;
    
    margin: 95% 60%;
    padding:0 4%;
    
}
.proj-arrow{
    margin: 70% 60%;
}
.skill-arrow{
    margin: 99.9% 60%;
}
.uni-arrow{
    margin: 78% 60%;
}
.index-arrow{
    margin: 55% 60%;
}
 .left{
    position:fixed;
    bottom:0.5%;
    right:50%;
    transform: rotate(180deg);
    
}
.right{
    position:fixed;
    bottom: 0.5%;
    right:50%;
    left:70%;
}

.transition-fade{
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating.transition-fade{
    opacity: 1;
    transform:translateX(100%);
}
html.is-leaving.transition-fade{
    opacity:0;
    transform: translateX(0);
}